@import "../variables.scss";

.abled,
.disabled,
.selected {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem 0.125rem;
  border-radius: 0;
}

.disabled {
  pointer-events: none;
  background-color: $main-gray;
  border: solid 0.0625rem transparent;
}

.abled {
  background-color: white;
  border: solid 0.0625rem $main-gray;
  cursor: pointer;
}

.selected {
  background-color: $red;
  border: solid 0.0625rem $red;
}

.number {
  color: transparent;
}

.inZone {
  border: solid 0.0625rem $red;
}
