$text-color: rgba(black, 0.75);
$main-gray: rgba(black, 0.35);
$sub-gray: rgba(black, 0.15);
$bg-color: rgba(black, 0.06);
$red: #BF0B0B;

$title: 1.5rem; // 24px
$large: 1.25rem; // 20px
$main: 1rem; // 16px
$small: 0.875rem; // 14px